<template name="header">
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"> {{pageTitle}} </a>
      </div>
      <br>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav">
          {{#if upload}}
          <li class='{{uploadState}}'>
            <a id="uploadTab">Upload</a>
          </li>
          {{/if}}
          {{#if manage}}
            <li class='{{manageState}}'>
              <a id="manageTab">Manage Users</a>
            </li>
          {{/if}}
          {{#if admin}}
            <li class='{{adminState}}'>
              <a id="adminTab">Admin</a>
            </li>
          {{/if}}
          <li id="loginTab" class='dropdown'>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
              {{#if user}}
                Account
              {{else}}
                Log In
              {{/if}}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <div class="jumbotron">
                {{> login align="right"}}
              </div>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>